player-connection-mode=Listen
player-connection-guid=3560954
player-connection-debug=0
player-connection-ip=192.168.56.1
player-connection-ip=26.165.0.26
player-connection-ip=172.17.179.145
player-connection-ip=192.168.1.62
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
scripting-runtime-version=latest
vr-enabled=1
vr-device-list=OpenVR,Oculus
hdr-display-enabled=0
